html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Lexend', sans-serif;
    overflow: hidden;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/******************HEADER**********************/
header {
    background: #363636;
    margin-bottom: 70px;
}

.header_box {
    margin: 0 auto;
    padding: 20px 0 20px 0;
    text-align: left;
    color: #FFFFFF;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.header__box__first {
    display: flex;
}

.header__box__first>img {
    margin-right: 70px;
}

.header__menu {
    align-items: center;
    display: flex;
}

.header__menu__item {
    margin-right: 70px;
}

.header__menu__item:nth-child(3) {
    margin: 0;
}

.last_image {
    /**/
}

/******************MAIN**********************/
main {
    margin: 0 auto;
    text-align: left;
    width: 50%;
}

.main_hbox {
    display: flex;
    margin-bottom: 15px;

}

.main_hbox>img {
    padding: 10px 10px 10px 10px;
}

.main__hbox__title {
    color: #1E1E1E;
    font-size: 36px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 36px;
    line-height: 71.5%;
}

.main__form__box {
    display: flex;
}

.select_box {
    margin-right: 30px;
    padding: 10px 40px 20px 40px;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
}

.info_box {
    padding: 10px 40px 20px 40px;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
}

input[type=text] {
    border: 1px solid #C6C6C6;
    border-radius: 26px;
    padding: 7px 5px 7px 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 71.5%;
}

input[type=submit] {
    border: 1px solid #EEEEEE;
    border-radius: 26px;
    padding: 10px 5px 10px 5px;
    text-align: center;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 71.5%;
}

input::-webkit-calendar-picker-indicator {
    color: #D9D9D9;
    margin-top: 7px;
}

input[type=submit]:hover {
    border: 1px solid #00A3FF;
    background-color: #00A3FF;
    color: #FFFFFF;
    transition: 0.2s;
}

.map__box {
    margin: 0 auto;
    text-align: center;
}

.map__box>img {
    width: 70%;
}

/******************FOOTER**********************/
footer {
    background-color: #363636;
    padding: 30px 0 30px 0;
}

.footer__box {
    display: flex;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    justify-content: space-between;
}

.footer__box__firts {
    color: white;
    display: flex;
    font-size: 14px;
    align-items: flex-end;
}

.footer__box__firts>img {
    margin-right: 10px;
}

.footer__box__second {
    color: white;
    font-size: 14px;
}

.footer__box__third > a {
    color: #FFFFFF;
    font-size: 14px;
}
.footer__box__third > a:nth-child(1){
    margin-right: 20px;
}